{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Booked Spaces</h2>
    {% if bookings %}
        <table border="1" cellpadding="10">
            <tr>
                <th>#</th>
                <th>Booked By</th>
                <th>Space</th>
                <th>Purpose</th>
                <th>Start</th>
                <th>End</th>
                <th>Approved?</th>
                <th>Created At</th>
            </tr>
            {% for booking in bookings %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ booking.user.username }}</td>
                <td>{{ booking.space.name }}</td>
                <td>{{ booking.purpose }}</td>
                <td>{{ booking.start_datetime|date:"Y-m-d H:i" }}</td>
                <td>{{ booking.end_datetime|date:"Y-m-d H:i" }}</td>
                <td>
                    #booking status
                    {% if booking.approved %}
                        Approved
                    {% else %}
                        Rejected
                    {% endif %}
                </td>
                <td>{{ booking.created_at|date:"Y-m-d H:i" }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No bookings yet.</p>
    {% endif %}
</div>
{% endblock %}
